<ul class="nav">
  <li class="nav-item">
    <h1>Fun Run</h1>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/runs">Runs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users">Users</a>
  </li>
</ul>
